In [ ]:
# NumPy and Pandas Assignment
# Complete the following tasks by filling in the code where indicated.
# Ensure your notebook is well-documented with markdown cells explaining your code and result.

import numpy as np
import pandas as pd

# Task 1: NumPy Basics

### Array Creation
#### 1. Create an array of 10 zeros but set the fifth element to 1.

In [19]:
import numpy as np

arr = np.zeros(10)
arr[4] = 1

print(arr)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

### Pivot Table - Summarize Sales Data
#### 4. Create a pivot table showing total sales for each Region and Product.

### 2. Create a 4x4 matrix with values ranging from 0 to 15.

In [21]:
import numpy as np

matrix = np.arange(16).reshape(4, 4)

print(matrix)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]

### Array Operations

#### 3. Create two NumPy arrays: Perform element-wise addition, subtraction, multiplication, and division.
#### arr1: array([[41, 30, 10], [ 6, 35, 23], [23,  9, 10]])
#### arr2: array([[4, 29,  2], [5, 13,  3], [24, 16,  7]])

In [5]:
import numpy as np

arr1 = np.array([[41, 30, 10], [6, 35, 23], [23, 9, 10]])
arr2 = np.array([[4, 29, 2], [5, 13, 3], [24, 16, 7]])

addition = arr1 + arr2
subtraction = arr1 - arr2
multiplication = arr1 * arr2
division = arr1 / arr2  
print("Element-wise Addition:\n", addition)
print("\nElement-wise Subtraction:\n", subtraction)
print("\nElement-wise Multiplication:\n", multiplication)
print("\nElement-wise Division:\n", division)

Element-wise Addition:
 [[45 59 12]
 [11 48 26]
 [47 25 17]]

Element-wise Subtraction:
 [[37  1  8]
 [ 1 22 20]
 [-1 -7  3]]

Element-wise Multiplication:
 [[164 870  20]
 [ 30 455  69]
 [552 144  70]]

Element-wise Division:
 [[10.25        1.03448276  5.        ]
 [ 1.2         2.69230769  7.66666667]
 [ 0.95833333  0.5625      1.42857143]]

### Array Slicing
#### 4. Given the array: 
#### arr = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
#### Extract elements from index 2 to 6.

In [ ]:
import numpy as np

arr = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])

extracted_elements = arr[2:7]

print(extracted_elements)

### Using NumPy Methods
#### 5. Convert the array below to a 3Ã—3 NumPy array.
#### array([[15, 18, 20], [15, 30, 8], [25, 30, 60]])
#### Find the mean, sum, and maximum value.

In [7]:
import numpy as np

# Convert the given list to a 3x3 NumPy array
data = [[15, 18, 20],
        [15, 30, 8],
        [25, 30, 60]]
arr = np.array(data)

mean_val = arr.mean()
sum_val = arr.sum()
max_val = arr.max()

print("3x3 NumPy Array:")
print(arr)
print("\nMean:", mean_val)
print("Sum:", sum_val)
print("Maximum Value:", max_val)

3x3 NumPy Array:
[[15 18 20]
 [15 30  8]
 [25 30 60]]

Mean: 24.555555555555557
Sum: 221
Maximum Value: 60

# Task 2: Pandas Basics

### Creating a Pandas Series
#### 1. Create a Pandas Series from the list [10, 20, 30, 40, 50] with index labels 'a', 'b', 'c', 'd', 'e'.

In [1]:
import pandas as pd

series = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])

print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

### Reading a CSV File
#### 2. Read a CSV file named "data.csv" into a Pandas DataFrame. The CSV file has the following columns: "Name", "Age", "Salary".

In [37]:
import pandas as pd

df = pd.read_csv(r"D:\Assignment pandas\python-numpy-pandas-group-b-digital-rajesh\data\data.csv")

print(df)

       Name  Age  Salary  Score
0     Alice   29   73193     80
1       Bob   53   85398     81
2   Charlie   36   47162     82
3     David   22   65853     83
4       Eve   24   36168     84
5     Frank   58   69657     85
6     Grace   41   85202     86
7    Hannah   38   62421     87
8     Isaac   50   74641     88
9      Jack   47   38963     90
10    Karen   34   32136     91
11      Leo   49   41874     92
12     Mona   56   34070     93
13     Nina   49   91734     94
14    Oscar   30   89539     95
15     Paul   23   78720     96
16    Quinn   31   54424     97
17   Rachel   54   59900     98
18    Steve   36   32163     99
19     Tina   56   52054    100

### Slicing a DataFrame
#### 3. From the DataFrame created in Exercise 2, select only the first three rows.

In [41]:
import pandas as pd
sliced = df.head(3)
print(sliced)

      Name  Age  Salary  Score
0    Alice   29   73193     80
1      Bob   53   85398     81
2  Charlie   36   47162     82

### Manipulating a DataFrame - Adding a Column
#### 4. Add a new column named "Tax" to the DataFrame from Exercise 2. The tax should be calculated as 10% of the "Salary" column.

In [9]:
import pandas as pd

df = pd.read_csv(r"D:\Assignment pandas\python-numpy-pandas-group-b-digital-rajesh\data\data.csv")

df["Tax"] = df["Salary"] * 0.1

print(df.head())

      Name  Age  Salary  Score     Tax
0    Alice   29   73193     80  7319.3
1      Bob   53   85398     81  8539.8
2  Charlie   36   47162     82  4716.2
3    David   22   65853     83  6585.3
4      Eve   24   36168     84  3616.8

#### Filter the dataframe by the column "age" whereby the age is above 36 years

In [13]:
import pandas as pd

df = pd.read_csv(r"D:\Assignment pandas\python-numpy-pandas-group-b-digital-rajesh\data\data.csv")

filtered_df = df[df["Age"] > 36]

print(filtered_df)

      Name  Age  Salary  Score
1      Bob   53   85398     81
5    Frank   58   69657     85
6    Grace   41   85202     86
7   Hannah   38   62421     87
8    Isaac   50   74641     88
9     Jack   47   38963     90
11     Leo   49   41874     92
12    Mona   56   34070     93
13    Nina   49   91734     94
17  Rachel   54   59900     98
19    Tina   56   52054    100

# Task 3: Data Analysis with Pandas

### Aggregation - Compute Total and Mean Sales
#### 1. Given a dataset of sales transactions, compute the total and mean sales per region.

In [29]:
# Sample Data
sales_data = pd.DataFrame({
    "Region": ["North", "South", "North", "West", "South", "West"],
    "Sales": [1000, 1500, 1200, 1800, 1300, 1700]
})
sales_data.head()

  Region  Sales
0  North   1000
1  South   1500
2  North   1200
3   West   1800
4  South   1300

In [22]:

data = {
    "Region": ["North", "South", "East", "West", "North", "South", "East", "West"],
    "Sales": [100, 150, 200, 250, 300, 350, 400, 450]
}

df = pd.DataFrame(data)

aggregated_sales = df.groupby("Region")["Sales"].agg(total="sum", mean="mean")

print(aggregated_sales)

        total   mean
Region
East      600  300.0
North     400  200.0
South     500  250.0
West      700  350.0

### Merging - Combine Customer and Order Data
#### 2. Merge customers and orders data based on CustomerID.

In [ ]:
customers = pd.DataFrame({
    "CustomerID": [1, 2, 3, 4],
    "CustomerName": ["Alice", "Bob", "Charlie", "David"]
})

orders = pd.DataFrame({
    "OrderID": [101, 102, 103, 104],
    "CustomerID": [1, 2, 2, 4],
    "Amount": [250, 400, 600, 150]
})

display(customers.head(2), orders.head(2))

In [ ]:
import pandas as pd

customers = pd.DataFrame({
    "CustomerID": [1, 2, 3],
    "CustomerName": ["Alice", "Bob", "Charlie"],
    "Country": ["USA", "Canada", "UK"]
})

orders = pd.DataFrame({
    "OrderID": [101, 102, 103, 104],
    "CustomerID": [1, 2, 1, 3],
    "OrderAmount": [250, 300, 150, 450]
})

merged_data = pd.merge(customers, orders, on="CustomerID")

print(merged_data)

### Joining - Left Join Employee Data
#### 4. Perform a left join between employees and departments on DeptID.

In [24]:
# NB: No test for this. Just an exercise for you to play around with
employees = pd.DataFrame({
    "EmpID": [101, 102, 103, 104],
    "EmpName": ["John", "Jane", "Alice", "Bob"],
    "DeptID": [1, 2, 2, 3]
})

departments = pd.DataFrame({
    "DeptID": [1, 2],
    "DeptName": ["HR", "Finance"]
})

display(employees.head(2), departments.head(2))

   EmpID EmpName  DeptID
0    101    John       1
1    102    Jane       2

   DeptID DeptName
0       1       HR
1       2  Finance

In [ ]:
import pandas as pd

employees = pd.DataFrame({
    "EmpID": [101, 102, 103, 104],
    "EmpName": ["Alice", "Bob", "Charlie", "David"],
    "DeptID": [1, 2, 3, 2]
})

departments = pd.DataFrame({
    "DeptID": [1, 2, 4],
    "DeptName": ["HR", "Finance", "Marketing"]
})

result = pd.merge(employees, departments, on="DeptID", how="left")

print(result)

### Pivot Table - Summarize Sales Data
#### 4. Create a pivot table showing total sales for each Region and Product.

In [ ]:
sales_pivot_data = pd.DataFrame({
    "Region": ["North", "North", "South", "South", "West", "West"],
    "Product": ["A", "B", "A", "B", "A", "B"],
    "Sales": [200, 300, 150, 400, 250, 500]
})

sales_pivot_data.head(2)

In [26]:
import pandas as pd

data = {
    "Region": ["North", "South", "East", "West", "North", "South", "East", "West"],
    "Product": ["A", "A", "B", "B", "A", "B", "A", "B"],
    "Sales": [100, 150, 200, 250, 300, 350, 400, 450]
}

df = pd.DataFrame(data)

pivot_table = df.pivot_table(values="Sales", index="Region", columns="Product", aggfunc="sum", fill_value=0)
print(pivot_table)

Product    A    B
Region
East     400  200
North    400    0
South    150  350
West       0  700